<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>294575034777-kma6sm0ifmo0svjvdl0gjm5uaqc9c0m9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.294575034777-kma6sm0ifmo0svjvdl0gjm5uaqc9c0m9</string>
	<key>API_KEY</key>
	<string>AIzaSyAFeYvimZ4VBjLnQWcBvFYWgS6_TXbIDYk</string>
	<key>GCM_SENDER_ID</key>
	<string>294575034777</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.noteTakingApp</string>
	<key>PROJECT_ID</key>
	<string>notetakingapp-2ab71</string>
	<key>STORAGE_BUCKET</key>
	<string>notetakingapp-2ab71.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:294575034777:ios:27b8dbdfa3c1e05bf0c308</string>
</dict>
</plist>